header {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: coral;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 169px;
  background-image: url(img/bkg.jpg); background-repeat: no-repeat;
  background-attachment: fixed;


}
.header img {
  float: left;
  width: 300px;
}

#navbar {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: coral;
  padding-left: 20px;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  position: sticky;
  top: 0;
  border-radius: 10px;
}
#navbar li {
  float: left;
}
#navbar li a {
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
#navbar li a:hover {
  background-color: steelblue;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: coral;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

body {
  background-color: steelblue;
  font-family: "Josefin Sans", sans-serif;
}

footer {
  max-width: 960px;
  width: 100%;
  margin:0 auto;
  background-color: coral;
  padding-left: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.light{
  padding: 20px 10px 20px 10px;
  border: 1px solid;
  margin: 20px;
  border-radius: 6px;
  }
.dark{
  padding: 20px 10px 20px 10px;
  border: 1px solid;
  background-color: rgb(235, 100, 22);
  margin: 20px;
  border-radius: 6px;
  }
.contact-me {
  padding-left: 20px;
}
label{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 20px;
  padding: 10px;
}
textarea:focus,
input[type="text"]:focus {
  outline: none;
  background-color: #efefef;
}
input[type="email"],
input[type="text"],
textarea {
  display: block;
  padding: 8px;
  border-radius: 6px;
  border: 0px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
input[type="email"]:focus {
  outline: none;
  background-color: #efefef;
}
form input[type="submit"] {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: coral;
  font: normal 20px "Josefin Sans", sans-serif;
  padding: 8px 10px 8px 10px;
  line-height: 20px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid rgb(253, 119, 70);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
form input[type="submit"]:hover{
  background-color: rgb(248, 94, 38);
}
h1,h2,h3 {
  font-family: "Noto Serif", serif;
}

table{
  width: 100%;
  border: 1px solid black;
}
td{
padding: 5px;

}
tr:nth-child(even){
  background-color: coral;
}
th{
    background-color:coral;
    padding:  5px;
}
